div, p, span, h1, h2, h3, h4, img {
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
}
.vkuiFixedLayout,
.FixedLayout,
.vkuiFixedLayout--bottom,
.FixedLayout--bottom {
	background-color: #FFFFFF;
}
.header-space {
	width: 100%;
	height: calc(1px + env(safe-area-inset-top));
	background: red 
}