#more-memes {
	height: 1px;
	width: 100%;
}
.meme-card {
  margin: 3px auto 30px;
  width: 95%;
  overflow: hidden;
}
.meme {
  width: 100%;
}

.meme-img {
  width: 100%;
  object-fit: contain;
  max-height: 500px;
  margin-bottom: -4px;
  background-color: #edeef0;
}

.meme-buttons {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.meme-buttons > div {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.like, .share, .comments{
  cursor: pointer;
}
.buttons-text {
  padding-left: 5px;
}
.rejection {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 22px;
}
.in-moderation {
  background-color: #5781b8;
}
