.rating-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.rating-info-block {
  padding: 10px 25px 15px 25px; 
  min-height: 80px;
  text-align: center; 
}